h1.page-title= title
.full-img-wrapper: .full-img: img(src='/img/im-on-a-lion.jpg')
article
  p
    | I've been working in the web industry since 2005, and it's pretty great. Ruby is my favorite programming language, but I dabble in over
    em  fifty 
    | others. I am currently employed by 
    a(href='http://www.j4studios.com/') J4 Studios
    | .
  blockquote.skills
    h3 Skills
    ul
      li Ruby &amp; Rails &amp; Sinatra
      li Node.js &amp; Express.js
      li PHP &amp; Wordpress &amp; Slim
      li HTML 4/5
      li CSS 2/3
      li JavaScript &amp; AJAX &amp; jQuery
      li Adobe CS5.5
  h2 Music
  p
    | I like to write music in my spare time. I released an EP in 2009 that you can download for free from NoiseTrade – it&rsquo;s called 
    a(href='http://noisetrade.com/stephendavis') If Music be the Food of Love
    |. I have some of my newer work 
    a(href='http://soundcloud.com/stephendavis89') posted on SoundCloud
    |  too.
  p In my spare time I write and record beautiful music and study Russian. Also programming.
  h2 Contact
  p
    | If you're looking for my resume, try clicking this link: 
    a(href='http://resume.stephendavis.im') resume link.
    |  Feel free to contact me at any time of the day or night. My email address is 
    a(href='mailto:hello@stephendavis.im?subject=Hello') hello@stephendavis.im
    | , or you can follow me on Twitter &mdash;
    a(href='http://twitter.com/stephendavis89/') @stephendavis89
    | .
