extends layout

block content
  //- h1= title
  //- p Welcome to #{title}
  //- img(src='images/swan.jpg', width='100')
  h1= title
  p.short
    small Short version: Give a lot of money, a funny.
    a.button(href='https://spb.io/p/OoRpFaCWtm') Give Now
  p Maya K. Davis has recently been operated on by a medical doctor posessing great skill. Unfortunately, the skill required to remove four wisdom teeth comes with a substantial cost.
  .x-ray
    img(src='images/x-ray.jpg', width='800', height='340')
    small.caption The ones with an &ldquo;x&rdquo; are the culprits.
  p &ldquo;Well,&rdquo; you might say, &ldquo;I&rsquo;d be glad to help cover the cost, but where does the fun part come in?&rdquo;
  p I&rsquo;m glad you asked. At Maya&rsquo;s insistence, I (Stephen Davis) shot some videos of her while she was &ldquo;loopy.&rdquo; If you donate any amount to Maya&rsquo;s Tooth Fun-raiser, you can watch them for free.
  p.give: a.button(href='https://spb.io/p/OoRpFaCWtm') Give Now
