// Variables
// --------------------------------
$white: #FBFBFB;
$darkgrey: #333;
$red: #B10;
$darkred: darken($red, 10%);
// $blue: #207FB9;
$blue: #0066BB;
$darkblue: darken($blue, 15%);
// $orange: #FF7300;
// $orange: #F48300;
// $green: #393;
// $green: #91A217;
$green: #40BF40;

// Mixins
// --------------------------------
@mixin transition($property, $time) {
  -webkit-transition: $property $time ease-in-out;
     -moz-transition: $property $time ease-in-out;
      -ms-transition: $property $time ease-in-out;
       -o-transition: $property $time ease-in-out;
          transition: $property $time ease-in-out;
}
@mixin transform($transform) {
  -webkit-transform: $transform;
     -moz-transform: $transform;
      -ms-transform: $transform;
       -o-transform: $transform;
          transform: $transform;
}

// General
// --------------------------------
::-moz-selection { background: rgba(0,102,187,0.75); color: #fff; text-shadow: none; }
::selection { background: rgba(0,102,187,0.75); color: #fff; text-shadow: none; }
body {
  background: $white url("/img/light_wool.png") top center;
  color: #222;
  font-family: "PT Sans", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
}
h1, h2, h3 {
  font-weight: 400;
  color: $blue;
  line-height: 0.85em;
}
h1 a, h2 a, h3 a { color: $blue; }
.logo,
h1, h2 {
  color: $darkgrey;
  font-family: "Crete Round", serif;
  clear: left;
}
h1 {
  font-size: 65px;
  margin: 0;
}
h2, h3, h4 { margin: 0.8em 0 0; }
h2, h3 { font-size: 22px; }
h2 { line-height: 1.1em; }
h3 { font-family: "PT Sans Narrow", Impact, "Haettenschweiler", "Arial Narrow Bold", sans-serif; }
ul { padding-left: 1.6em; }
p,
blockquote { margin: 0.8em 0; }
h3 + p,
h4 + p,
h3 + ul,
h4 + ul,
h3 + ol,
h4 + ol {
  margin-top: 0;
}
ul ul,
ul ol {
  margin: 0;
}
code {
  color: $green;
}
pre {
  margin: 1em 0;
  font-size: 12px;
  background-color: #EEE;
  border: 1px solid #DDD;
  padding: 5px;
  line-height: 1.5em;
  color: #444;
  overflow: auto;
  -webkit-box-shadow: rgba(0, 0, 0, 0.07) 0 1px 2px inset;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
hr {
  border: none;
  background-color: #CCC;
  height: 1px;
}
a {
  // padding: 0 0.1em;
  // margin: 0 -0.1em;
  color: $darkblue;
  // @include transition(background, 0.2s);
  &:hover {
    color: $white;
    background: #444;
    text-decoration: none;
  }
}
blockquote {
  background: #F6F6F6;
  border-top: 1px dashed #CCC;
  border-bottom: 1px dashed #CCC;
  color: $blue;
  padding: 0 0.8em;
}
blockquote h2,
blockquote h3,
blockquote h4 {
  text-align: center;
  margin: 0.5em 0;
}
img { background: url("/img/checker.gif"); }

// Positioning
// --------------------------------
.wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1em;
}
.page-title,
nav.main,
.primary,
footer p {
  width: 70%;
  float: right;
}
.secondary {
  float: left;
  width: 28%;
}

// Header
// --------------------------------
header {
  clear: both;
  position: relative;
  margin-bottom: 1.4em;
}
.logo {
  text-transform: lowercase;
  color: $white;
  background: $blue;
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
  padding: 0 3px;
  line-height: 45px;
  // float: left;
  position: absolute;
  left: 0;
  bottom: 0;
}
nav.main {
  padding: 2em 0 0.4em;
  position: relative;
  z-index: 100;
  font-size: 1.05em;
  ul {
    padding: 0;
    margin: 0;
  }
  li { display: inline; }
  a {
    display: inline-block;
    text-decoration: none;
  }
}
.break { display: none; }
.seperator { color: #CCC; }
.page-title {
  position: relative;
  bottom: -0.08em;
}

// Main
// --------------------------------
#main {}

// Sidebar
// --------------------------------
.widget { margin-bottom: 1em; }
.widget-title { margin: 0 0 0.5em; }
.widget ul { margin: 0; }
.track { margin-bottom: 0.3em; }
.track-cover {
  width: 34px;
  height: 34px;
  float: left;
}
.track-cover.duplicate { opacity: 0.4; }
.track span,
.track small {
  display: block;
  margin-left: 40px;
}

// Footer
// --------------------------------
footer { color: #999; }
.colophon {
  font-size: 0.8em;
  clear: both;
  margin: 2em 0;
}

// Home Page
// --------------------------------
.tiles {

}
.tile {
  text-decoration: none;
  float: left;
  position: relative;
  width: 30%;
  display: block;
  // box-shadow: inset 0 0 20px 2px rgba(0,0,0,0.5);
  padding: 0;
  margin: 0;
  margin-right: 5%;
  position: relative;
  overflow: hidden;
  color: $darkgrey;
  &:hover {
    color: #000;
    background: none;
  }
  p {
    position: relative;
    margin: 0.4em 0;
  }
}
.tile.about { margin: 0; }
.tile-background {
  font-size: 0.8em;
  color: $darkblue;
  opacity: 0.85;
  text-align: justify;
  width: 100%;
  overflow: hidden;
  height: 120px;
  border-bottom: 2px solid transparent;
}
.tile:hover .tile-background { border-color: #444; }
.tile.projects .tile-background { background: url("/img/hacking-guide.jpg") -160px center; }
.tile.about .tile-background { background: url("/img/im-on-a-lion.jpg") -440px -50px; }
.tile-inner {
  background: rgba(255,255,255,0.65);
  @include transition(background, 0.2s);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 1em 0;
}
.tile:hover .tile-inner { background: rgba(255,255,255,0.75); }
.tile-title {
  text-align: center;
  color: #000;
  margin: 0;
  padding: 0.5em 0;
}


// About page
// --------------------------------
.skills {
  float: right;
  width: 33%;
  margin-left: 1em;
}


// Blog
// --------------------------------
article { margin-bottom: 2em; }
article a {
  background: #FFFEBF;
  &:hover {
    background: #FFFB00;
    color: #000;
  }
}
article h2 a {
  background: none;
  &:hover {
    color: $white;
    background: #444;
  }
}
.archive-link { display: block; }
.published,
.artist {
  color: #999;
  font-style: italic;
}
.post {
  position: relative;
  &:after {
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid #CCC;
    border-left: 20px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
  }
}
.post img {
  float: left;
  margin: 0 1em 0.5em 0;
  max-width: 60%;
}
.post-nav { clear: both; }
.post-nav small { display: block; }
.older,
.newer { width: 50%; }
.older {
  float: left;
  .inner {
    border-left: 1px solid #CCC;
    padding-left: 0.8em;
  }
}
.newer {
  float: right;
  text-align: right;
  .inner {
    border-right: 1px solid #CCC;
    padding-right: 0.8em;
  }
}
.comments {
  margin-top: 2em;
  text-align: center;
}
.archive { padding-left: 0.6em; }
.archive li {
  text-overflow: ellipsis;
  list-style-position: inside;
  white-space: nowrap;
  overflow: hidden;
}
.archive a { text-decoration: none; }
.archive a strong { text-decoration: underline; }


// Form Elements
// --------------------------------
input,
textarea,
button {
  display: block;
  margin-bottom: 1em;
}
input,
textarea {
  border: 1px solid #999;
  background: #E0E0E0;
  line-height: 1.4em;
  padding: 0 5px;
  border-radius: 2px;
  min-width: 50%;
  @include transition(box-shadow, 0.2s);
  box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
  &:focus {
    outline: 0;
    background: #EFEFEF;
    box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
  }
}
textarea {
  width: 99%;
  height: 15em;
}
button,
input[type="submit"] {
  width: auto;
  min-width: 0;
  // background: #6379BA;
  // color: #FFF;
  // border: none;
}

form.destroy {
  display: inline;
}


// Utility
// --------------------------------

.cf:before,
.cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { *zoom: 1; }

.errors {
  background: $red;
  color: $white;
  margin-bottom: 1em;
  padding: 0.5em;
  display: inline-block;
}
.errors ul {
  margin-top: 0;
}
.full-img,
.full-img img {
  width: 100%;
}
.full-img img {
  display: block;
}

.btn {
  display: inline-block;
  padding: 4px 10px 4px;
  background: #CCC;
  color: $darkgrey;
  border-color: $darkred;
  margin-bottom: 0;
  // font-size: $baseFontSize;
  // line-height: $baseLineHeight;
  // color: $grayDark;
  text-decoration: none;
  overflow: visible;
  text-align: center;
  // text-shadow: 0 1px 1px rgba(255,255,255,.75);
  vertical-align: middle;
  // @include buttonBackground($btnBackground, $btnBackgroundHighlight);
  border: 1px solid #000;
  // border-bottom-color: darken($btnBorder, 10%);
  border-radius: 2px;
  // $shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  // @include box-shadow($shadow);
  cursor: pointer;
  margin-right: 1em;
}
.btn.btn-main {
  color: $white;
  background: $blue;
  border-color: darken($blue, 10%);
}
.btn.btn-danger {
  background: $red;
  border-color: $darkred;
}

// Media Queries
// --------------------------------
@media screen and (max-width: 960px) {
  h1 { font-size: 54px; }
}

@media screen and (max-width: 768px) {
  header {
    position: static;
    margin-bottom: 1em;
  }
  .logo,
  nav.main { float: left; }
  .logo {
    position: static;
    left: auto;
    bottom: auto;
  }
  nav.main {
    padding: 0;
    position: static;
    line-height: 45px;
    padding-left: 1em;
    width: auto;
  }
  .page-title {
    position: static;
    margin-top: 1.5em;
    bottom: auto;
  }
  .page-title,
  .primary,
  .secondary,
  footer p {
    width: auto;
    float: none;
  }
  .secondary {
    border-top: 1px solid #CCC;
    margin-top: 2em;
    padding-top: 1em;
  }
  .widget {
    float: left;
    width: 30%;
    padding-right: 5%;
  }
  .widget:last-child { padding: 0; }
  footer { text-align: center; }
}

@media screen and (max-width: 640px) {
  input { width: 99%; }
}

@media screen and (max-width: 480px) {
  h1 { font-size: 40px; }
  blockquote h2,
  blockquote h3,
  blockquote h4 { text-align: left; }
  nav.main {
    line-height: 1.6em;
    font-size: 0.9em;
    li { margin: 0.5em 0; }
  }
  .break { display: inline; }
  .widget.posts .published { display: none; }
  .full-img-wrapper { margin: 0 -5%; }
  .skills {
    margin-left: 0;
    width: auto;
    float: none;
  }
  .widget {
    float: none;
    width: auto;
    padding: 0;
  }
}
